@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practico2</h1>
    <p class="lead">Practico 2</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
</div>